body, html {
    margin: 0px;
    padding: 0px;
}


.simple-container{
    width: 1100px;
    margin: 0 auto;
    position: relative;

}

.black-box {
    background-color: black;
    color: white;
    padding: 24px 0;
}

.white-text {
    color: white;
}

nav{
    position: absolute;
    right: 0;
}


a{
    display: inline-block   ;
}

.box{
    width: 200px;
    height: 100px;
    background-color: green;
    overflow: auto;
    position: relative;
    z-index: 10;
    left: 500px;
}
.img{
    position: relative;
    z-index: 1;
    top: -500px;
}